/*
 *  $Id: sample1.cfg 2416 2012-09-07 08:06:20Z ertl-hiro $
 */

/*
 *  サンプルプログラム(1)のシステムコンフィギュレーションファイル
 */

INCLUDE("target_timer.cfg");
INCLUDE("syssvc/syslog.cfg");
INCLUDE("syssvc/banner.cfg");
INCLUDE("syssvc/serial.cfg");
INCLUDE("syssvc/logtask.cfg");

INCLUDE("../mbed-lib/common/common.cfg");

#include "sessalet.h"

CRE_TSK(SESSALET_MAIN_TASK, { TA_ACT, 0, sessalet_main_task, SESSALET_MAIN_TASK_PRI + 5, SESSALET_TASK_STACK_SIZE, NULL });
CRE_CYC(FLUSH_CHECK_CYC, { TA_ACT , 0, flush_check_cyc, 400, 1 });
CRE_TSK(FLASH_TASK, { TA_NULL, 0, flash_task, SESSALET_MAIN_TASK_PRI, SESSALET_TASK_STACK_SIZE, NULL });
CRE_CYC(HUMAN_CHECK_CYC, { TA_NULL , 0, human_check_cyc, 500, 1 });
